#header .navbar-brand img {
  width: 200px; }

/* header */
#head {
  background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url(../../assets/img/header.jpg) no-repeat center;
  background-size: cover; }

/* change all .btn */
@media (max-width: 768px) {
  .btn-group-lg > .btn, .btn-responsive {
    padding: 10px;
    font-size: 80%; } }

footer {
  display: inline-block;
  width: 100%;
  background-color: #333e48;
  color: #fff;
  margin: auto;
  border-top: 10px solid orange;
  text-align: center; }
