/* change all .btn */
@media (max-width: 768px) {
    .btn-group-lg>.btn, .btn-responsive {
      padding:10px;
      font-size:80%;
    }
}

/* IE Warning */
#cvoc-ie {
  display: none;
}

/* noUiSlider */
.noUi-connect {
    background: #d2d2d2;
}