/* header */
#head {
  background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url(https://res.cloudinary.com/initialapps/image/upload/c_scale,w_1200/v1585013843/OCCC/header.jpg) no-repeat center;
  background-size: cover;
}

/* change all .btn */
@media (max-width: 768px) {
    .btn-group-lg>.btn, .btn-responsive {
      padding:10px;
      font-size:80%;
    }
}